.container {

    position: relative;
    text-align: center;
}

img {

    opacity: 0.5;

}

.timer {

    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.seconds {
    padding: 10px;
    background-color: white;
    border-radius: 9px;
    border: solid;
    border-color: #7f7f7f;
    border-width: 5px;
}